body {
    background-color: rgb(255, 232, 192);
}

/* HEADER */
.header {
    padding: 33px;
    background-color: rgb(0, 103, 12);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH BAR */
.searchBar {
    margin-top: 20px;
    margin-bottom: 1px;
    text-align: center;
}

.searchBar input {
    height: 25px;
    width: 444px;
    border: none;
}

.searchBar button {
    width: 444px;
    border: none;
    background-color: rgb(83, 41, 21);
    margin: 10px;
    height: 25px;
    color: white;
}

.searchBar button:hover {
    background-color: lemonchiffon;
}

hr {
    width: 556px;
}

/* PREVIOUS SEARCHES */
.previousSearches {
    list-style-type: none;
    text-align: center;
}

.search {
    border: none;
    background-color: white;
    width: 222px;
    height: 20px;
    margin: 3px;
    border-radius: 100px;
}

.search:hover {
    background-color: lemonchiffon;
}

/* FORMAT WEATHER FORECAST */
#weatherForecast {
    display: flex;
}