body {
    background-color: rgb(255, 232, 192);
}

/* HEADER */
.header {
    padding: 33px;
    background-color: rgb(0, 103, 12);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH BAR */
.searchBar {
    margin-top: 20px;
    margin-bottom: 1px;
}

/* PREVIOUS SEARCHES */
.previousSearches {
    list-style-type: none;
}

.search {
    border: none;
    background-color: white;
    width: 147px;
    height: 20px;
    margin: 1px;
}

.search:hover {
    background-color: lemonchiffon;
}

/* FORMAT WEATHER FORECAST */
#weatherForecast {
    display: flex;
}